<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <script th:src="@{/static/js/vue3.4.21.js}"></script>
    <script th:src="@{/static/js/axios.min.js}"></script>
</head>
<body>
<h1>Ajax Request</h1>
<hr>

<div id="app">
    <button @click="showMsg">show message</button>
    <h1>{{message}}</h1>
</div>
<script th:inline="javascript">
    Vue.createApp({
        data() {
            return {
                message: ''
            }
        },
        methods: {
            async showMsg() {
                let response = await axios.get([[@{/}]] + 'showmsg');
                message = response.data;
                console.log(message);
            }
        }
    }).mount("#app")
</script>
</body>
</html>